{
  "openapi": "3.1.0",
  "info": {
    "title": "Scoutline Global API",
    "description": "Secure, strictly-typed API for the Scoutline Legal OS. Engineered for high-stakes legal workflows with integrated Cognito authentication and granular audit trails.",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.scoutline.com",
      "description": "Production Environment"
    },
    {
      "url": "https://sandbox.api.scoutline.com",
      "description": "Development Sandbox"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/vault/documents": {
      "get": {
        "summary": "List Documents",
        "description": "Returns a paginated list of documents from the firm's hardened S3 Vault. Access is governed by IAM policies and firm-isolation headers.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of documents to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/drafting/generate": {
      "post": {
        "summary": "Generate Legal Draft",
        "description": "Initiates an agentic drafting workflow to generate complex legal filings or briefs based on case context.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Drafting job initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftJob"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vault/documents/{id}": {
      "delete": {
        "summary": "Delete Document",
        "description": "Permanently removes a document from the hardened S3 Vault and updates the firm's audit trail.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the document",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document successfully marked for deletion"
          }
        }
      }
    },
    "/v1/audit/logs": {
      "get": {
        "summary": "Retrieve Audit Logs",
        "description": "Returns a granular audit trail for firm activities, including document access and AI-generated drafts.",
        "responses": {
          "200": {
            "description": "A list of audit log entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/query": {
      "post": {
        "summary": "Query Intelligence Canvas",
        "description": "Submit natural language queries to the Scoutline Intelligence Canvas for real-time case structure analysis.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": { "type": "string" },
                  "context": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Canvas intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": { "type": "string" },
                    "citations": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/v1/webhooks/filing-update": {
      "post": {
        "description": "Real-time updates on legal filing status and automated workflow completions.",
        "responses": {
          "200": { "description": "OK" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Document": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "filename": { "type": "string" },
          "size": { "type": "integer" },
          "uploadedAt": { "type": "string", "format": "date-time" },
          "status": { "type": "string", "enum": ["indexed", "pending", "error"] }
        }
      },
      "DraftRequest": {
        "type": "object",
        "required": ["type", "context"],
        "properties": {
          "type": { "type": "string", "enum": ["motion", "brief", "contract"] },
          "context": { "type": "string" },
          "options": { "type": "object" }
        }
      },
      "DraftJob": {
        "type": "object",
        "properties": {
          "jobId": { "type": "string" },
          "status": { "type": "string" },
          "estimatedCompletion": { "type": "string", "format": "date-time" }
        }
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "action": { "type": "string" },
          "userId": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "metadata": { "type": "object" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Cognito JWT"
      }
    }
  }
}